modules = ["python-3.12", "bash"]
run = "uvicorn main:app --host 0.0.0.0 --port 3000"

[nix]
channel = "stable-24_05"
packages = ["libxcrypt", "tree"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "uvicorn main:app --host 0.0.0.0 --port 3000"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run API Server"

[[workflows.workflow]]
name = "Run API Server"
author = 42894848
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[ports]]
localPort = 8000
externalPort = 80
