entrypoint = "main.py"
modules = ["python-3.12", "bash"]

[nix]
channel = "stable-24_05"
packages = ["libxcrypt", "tree"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run API Server"

[[workflows.workflow]]
name = "Run API Server"
author = 42894848
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
